@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primary_dark: #146152;
    --primary: #44803F;
    --primary_light: ##B4CF66;
    --secondary: ##FFEC5C;
    --alarm: ##FF5A33
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}